<div class="jumbotron">
  <div class="row">
    <div class="col-9 col-lg-9 col-md-9 cl-sm-3">
      <h1>Find Agile Activity</h1>
      <h2 class="lead">Store and Search Activities, Games, and Excercises</h2>
      <p class="lead-small">Enjoy Agile Activity Atlas and find all you need for your training fast</p>
    </div>
    <div class="col-3 col-lg-3 col-md-3 col-sm-3">
      <% if signed_in? %>
        <p class="lead"><%= link_to '<span class="glyphicon glyphicon-list"></span> Browse Activities'.html_safe, activities_path, class: "btn btn-info btn-large" %></p>
        <p class="lead"><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add New Activity'.html_safe, new_activity_path, class: "btn btn-success btn-large" %></p>
      <% else %>
          <legend>Please Log In</legend>
          <%= render 'sessions/login' %>
      <% end %>
    </div>
  </div>
</div>

<% @activities = Activity.order('RANDOM()').limit(3) %>
<div class="row thumbnails">
  <% @activities.each do |activity| %>
    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h3 class="panel-title">
            <% if activity.short_title %>
              <%= activity.short_title %> 
             <% else %> 
              <%= activity.title %> 
             <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <%= activity.abstract %>
        </div>
      </div>
    </div>
  <% end %>
</div>
