<h1>List of users</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @users.each do |user| %>
  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(user), class: "btn btn-mini", :title => 'Edit user'  %>
        <%= link_to '<i class="icon-trash"></i>'.html_safe, user, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini", :title => 'Delete user' %>
      </div>
    </div>
    <div class="span6">
      <%= link_to(user) do %>
        <strong><%= user.name %></strong>  
      <% end %>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>


