<h1>List of categories</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @categories.each do |category| %>
  <div class="row">
    <div class="span1">
      <div class="btn-group">
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_category_path(category), class: "btn btn-mini", :title => 'Edit category'  %>
        <%= link_to '<i class="icon-trash"></i>'.html_safe, category, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini", :title => 'Delete user' %>
      </div>
    </div>
    <%= link_to(category) do %>
      <div class="span6">
        <strong><%= category.name %></strong>  
      </div>
    <% end %>
  </div>
<% end %>

<br />

<%= link_to 'New Category', new_category_path %>


