<h1>List of activities
<div class="right-button">
	<span class="search-area">
		<%= form_tag activities_path, :method => 'get', :id => "activities_search" do %>
		   	<div class="input-group">
		    	<%= text_field_tag :search, params[:search], :class => "form-control search-input" %>
		   		<span class="input-group-btn">
		   			<%= submit_tag "Search", :name => nil, :class => "btn btn-warning search-button", :type => "button" %>
		   		</span>
			</div>
		<% end %>
	</span>
</div>

<span class="right-button">
	<%= link_to '<span class="glyphicon glyphicon-plus"></span> Create new activity'.html_safe, new_activity_path, :class => 'btn btn-info' %>
</span>
</h1>

<br />

<% if Activity.tag_counts.length > 0 %>
	<div class="panel panel-default">
	  <div class="panel panel-body">
	    <div id="tag_cloud">
	      <% tag_cloud Activity.tag_counts, %w[s m l] do |tag, css_class| %>
	        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	      <% end %>
	    </div>
	  </div>
	</div>
<% end %>
<br />

<div id="activities_grid">
	<%= render 'activities_grid' %>
</div>

<br />

<%= link_to '<span class="glyphicon glyphicon-plus"></span> Create new activity'.html_safe, new_activity_path, :class => 'btn btn-info' %>