<h1>List of activities</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>Detail</th>
    <th>Category</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.title %></td>
    <td><%= activity.abstract %></td>
    <td><%= activity.detail %></td>
    <td><%= activity.category_id %></td>
    <td><%= activity.note %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create new activity', new_activity_path, :class => 'btn btn-info' %>
