<p id="notice"><%= notice %></p>

<p>
  <b>Short title:</b>
  <%= @activity.short_title %>
</p>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Abstract:</b>
  <%= @activity.abstract %>
</p>

<p>
  <b>Detail:</b>
  <%= @activity.detail %>
</p>

<p>
  <b>Category:</b>
  <%= @activity.category.name %>
</p>

<p>
  <b>Note:</b>
  <%= @activity.note %>
</p>
<br />

<p><b>Tags:</b> <%= raw @activity.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<br />

<%= link_to 'Edit', edit_activity_path(@activity), :class => 'btn btn-info' %>
<%= link_to 'Back', activities_path, :class => 'btn' %>
