<h1>
  <%= @activity.short_title %>
</h1>

<h2>
  <%= @activity.title %>
</h2>
<br />
<div class="panel panel-info">
  <div class="panel-heading">
    <b>Category:</b>
    <%= @activity.category.name %>
  </div>
  <div class="panel panel-body">
    <b>Tags:</b> 
    <%= raw @activity.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </div>
</div>

<div class="alert alert-warning">
  <b>Abstract:</b><br />
  <%= html_text @activity.abstract %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Detail</b>
  </div>
  <div class="panel panel-body">
    <%= html_text @activity.detail %>
  </div>
  <div class="panel-footer">
    <b>Note:</b><br />
    <%= html_text @activity.note %>
  </div>
</div>


<br />

    <%= link_to '<span class="glyphicon glyphicon-list"></span> List of activities'.html_safe, activities_path, class: "btn btn-default" %>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new activity'.html_safe, new_activity_path, :class => 'btn btn-default' %>
    <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit activity'.html_safe, edit_activity_path(@activity), :class => 'btn btn-default' %>
